body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

header{
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top:30%;
    z-index: 10;
    color: white;
    font-size: 1.3em;
}
header h1{
  height: 15px;
}

.layout {
  background: url(tattood-man-using-creative-technology.jpg),rgba(0, 0, 0, 0.3);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
  height: 100vh;
}
.main-buttons{
  position: absolute;
  top: 70%;
  left:50%;
  transform: translate(-50%,-70%);
  padding: 20px;
}
.main-buttons a{
  margin: 5px;
}
@keyframes navAnim {
  from{height:56px}
  to {height:10%;}
}

.nav{
  background:linear-gradient(to left,#007DFE,#0c62a0);
  animation: navAnim 0.7s;
  animation-fill-mode: forwards;
}

.marg {
  margin-bottom: 50px;
}
.ico{
  font-size: 6vw;
}
.price{
  font-size: 4vw;
}
h2{
  font-size: 4em;
  font-weight: lighter;
}
@media screen and (max-width:768px) {
  .col-res{
    margin: 60px 0px;
  }
  .navbar-brand{
    margin-left: 20px;
  }
  .midDiv h2{
    margin-top: 20px;
  }
  header{
    font-size: 0.8em;
    top:20%;
  }
  h4{
    font-size: 1em ;
  }
  header h1{
    height: 1px;
  }
  .main-buttons{
    top: 50%;
  }
  .layout{
    height: 70vh;
  }
  .sec-res{
    text-align: center;
  }
  h2{
    font-size: 2em;
  }
  .middleCol{
    margin: 60px 0px
  }
  nav{
    background:linear-gradient(to left,#007DFE,#0c62a0)
  }
}
@media screen and (min-width:768px){
  .middleCol{
    margin: 200px 0px;
  }
  .main-buttons a{
    padding:15px 40px;
  }
  
}